<!DOCTYPE html>
<html>
  <head>
    <title>Ashstone</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="console">
        <ul id="messages"></ul>
        <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
        </form>
    </div>
    <div id="right-panel">
        <div id="map-screen">
            <img id="map" src="/img/map1.jpg" alt="">
        </div> 
        <div id="stats"></div>
        <div id="login-form">
            <form id="login" action="">
                <label>Username: </label> <input id="username" /><br>
                <label>Password: </label> <input type="password" id="password" /><br>
                <button>Send</button>
              </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>