@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@font-face {font-family: pixeled;src: url(Pixeled.ttf);}
@font-face {font-family: retrogaming;src: url(Retro\ Gaming.ttf);}
@font-face {font-family: perfectdos;src: url(Perfect\ DOS\ VGA\ 437\ Win.ttf);}
  
body {
    background-color: #0f2a3f; 
    color: #c3a38a;
    image-rendering: pixelated;
    margin: 2rem; 
    border: 4px solid #997577; 
    font-family: 'Gothic A1', sans-serif;
    font-family: perfectdos; 
    font-size: 1rem; 
    display: grid; 
    grid-template-columns: repeat(11, 1fr);
    overflow-wrap: break-word; white-space: pre-line;
}
#login-form, #register-form, #selectCharForm {
    padding: 2rem;
}
.btn, form button {
	background: #997577;
	border-bottom: 0.3rem inset rgba(0,0,0,.5);
	border-left: 0.3rem inset rgba(0,0,0,.5);
	border-right: 0.3rem inset rgba(255,255,255,.5);
	border-top: 0.3rem inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: #08141e;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	margin: .2rem;
	min-width: 200px;
	padding: .2rem;
	text-transform: uppercase;
	width: auto;
    font-family: perfectdos; 
}

input {
    min-width: 200px;
    padding: .75rem;
}

.btn:hover, .btn:focus {
    background: #BCBCBC;
}

hr {
    background-color: #997577;
    color: #997577;
    border-color: #997577;
}
#map {
    background-image: url('/img/map1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: grayscale(100%); */
    /* background-color: red; */
    /* width: 100%; */
    /* height: calc(100vh - 4rem); */
    grid-column: 1 / 5;
}
#form { 
    background: rgba(0, 0, 0, 0.15); 
    height: calc(10vh); 
    /* box-sizing: border-box;  */
    /* grid-row: 11 / 12; */
    position: absolute;
    width: 100%;
    bottom: 2%;
    margin: 0;
    padding: 0;
}
#input { 
    border: none; padding: 0; height: 100%; margin: 0; 
    font-family: perfectdos; 
    background-color: #08141e;
    padding-left: 2%;
    padding-right: 2%;
    color: #c3a38a;
    border-right: 0.25vw solid #c3a38a;
    width: 75%;
}
#input:focus { outline: none; }
#form > button { height: 100%; width: 20%; margin: 0; padding: 0; background: #08141e; border: none; outline: none; color: #c3a38a; }
#messages { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 100%;
    /* position: absolute;
    bottom: 12%; */
    max-height: calc(85vh);
    margin-bottom: 14vh;
    /* overflow: scroll; */
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    /* display: flex;
    flex-direction: column-reverse; */
}
#messages > li { padding: 0.5rem 1rem; overflow-wrap: break-word; white-space: pre-line;}
#messages > li:last-child {
    scroll-snap-align: end;
}
#console {
    /* background-color: #08141e;  */
    color: #816271; 
    height: calc(100vh - 4rem); 
    grid-column: 5 / 10;
    border-left: 4px solid #997577; 
    border-right: 4px solid #997577; 
    position: relative;
    overflow:auto; 
    display:flex; 
    flex-direction:column-reverse;
}
#right-panel{
    grid-column: 10 / 12;
    padding: 1rem;
    overflow: scroll;
    max-height: calc(100vh - 7rem);
    overflow-x: hidden;
}
a {
    color: #816271;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c3a38a ;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #997577;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #816271;
  }
/* #login {width: 100%; justify-content: center; margin: 2rem auto; padding: 0.5rem;} */
/* #login * {display: block; margin: auto;} */
/* #messages > li:nth-child(odd) { background: #efefef; } */